@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Civil Services Preparation Notes</h2>
    <p class="lead">Read the notes in more dynamic manner. Inter-related Articles and tool-tips for better understanding.</p>
    @ViewBag.Astring
</div>